<div class='mailer'>
  <table align='center' border='0' cellpadding='0' cellspacing='0' style='border:1px solid #ddd;background-color: #0177FF; border-collapse: collapse; font-family: 'Rubik', sans-serif;' width='600'>
    <tr>
      <td align='center' style='padding: 4% 3% 4%;background-color: #0177FF;'>
        <img alt='sign in placeholder' class='sign-in__placeholder' src='https://assets.kylas.io/images/logo.png' style='outline: 0;padding: 0;' width='89px'/>
      </td>
    </tr>
    <tr>
      <td align='center' style='padding: 3% 3% 5%;background-color: #0177FF;'>
        <table border='0' cellpadding='0' cellspacing='0' style='background-color: #fff;border-radius: 5px;padding: 4% 3% 4%;box-shadow: 0px 3px 6px #00000029;' width='100%'>
          <tr>
            <td align='center'>
              <p style='margin: 0;font-size: 12px;line-height: 18px;color: #2E384D;font-weight: 300;'><%= @resource.email %>!</p>
              <br/>
              <p style='margin: 0;font-size: 12px;line-height: 18px;color: #2E384D;font-weight: 300;'>
                Forgot your password? It happens to the best of us.
              </p>
              <p style='margin: 0;font-size: 12px;line-height: 18px;color: #2E384D;font-weight: 300;'>Click below to reset your password</p>
            </td>
          </tr>
          <tr>
            <td align='center' style='padding: 4% 0;'>
              <%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token), :style => 'font-weight: 500; text-decoration: none;display: inline-block;background-color:#0177FF;color: #fff;padding:10px 20px;font-size: 12px;line-height: 15px;border-radius: 5px;letter-spacing: 1.3px;' %>
            </td>
            <br/><br/>
          </tr>
          <tr>
            <td align='center'>
              <p style='margin: 0;font-size: 10px;line-height: 18px;color: #2E384D;font-weight: 400;'>
                If you didn’t make this request, please ignore the email.
              </p>
              <br/>
            </td>
          </tr>
          <tr>
            <td align='center'>
              <p style='margin: 0;font-size: 12px;line-height: 18px;font-weight: 400;'>
                Have a great day!
                <br/>
                Team Kylas
              </p>
            </td>
          </tr>
          <tr>
            <td align='left' style='padding: 3% 3%; background-color: #fff;'>
              <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                <tr>
                  <td align='left' style='width:20%'>
                    <img height='20px' src='https://assets.kylas.io/images/blue-logo.png' style='outline: 0;padding: 0;' width='72px'/>
                  </td>
                  <td align='right' style='width: 20%;'>
                    <div style='margin: 1% 0 0;font-size: 10px;line-height: 12px;color: #8798AD;padding: 0 2%;text-align: right;'>
                      <a href='https://support.kylas.io' style='color: #8798AD;margin: 0;text-decoration: none;padding-right: 2%;' target='_blank'>Support</a>
                      |
                      <a href='https://www.kylas.io/privacy' style='color: #8798AD;margin: 0;text-decoration: none;padding-left: 2%;' target='_blank'>
                        Privacy policy
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
